body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  color: rgb(74, 148, 230);
  text-decoration: none;
}

a:visited {
  color: rgb(74, 148, 230);
  text-decoration: none;
}

#contact a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#contact a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
